# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/

# Production
build/

# Local databases
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment variables
.env*.local
.env

# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# Operating System files
.DS_Store
*.pem

# IDE / Editor
.vscode/
.idea/
.neon
.vercel
